[Unit]
# Version 1.0.1
Description=ARDOP (piardopc) %I

[Service]
Type=simple

ExecStart=/usr/bin/bash -c 'source %I; \
/usr/local/bin/piardopc $PIARDOPC_ARGS 2>&1 | \
/usr/bin/stdbuf -oL /usr/bin/ts "%%Y/%%m/%%d %%H:%%M:%%S %p" | \
/usr/bin/socat - udp-sendto:127.255.255.255:$SOCAT_PORT,broadcast'

ExecStartPost=-/usr/bin/bash -c 'source %I; \
echo "started." | \
/usr/bin/stdbuf -oL /usr/bin/ts "%%Y/%%m/%%d %%H:%%M:%%S %p" | \
/usr/bin/socat - udp-sendto:127.255.255.255:$SOCAT_PORT,broadcast'

ExecStopPost=-/usr/bin/bash -c 'source %I; \
echo "stopped." | \
/usr/bin/stdbuf -oL /usr/bin/ts "%%Y/%%m/%%d %%H:%%M:%%S %p" | \
/usr/bin/socat - udp-sendto:127.255.255.255:$SOCAT_PORT,broadcast'

#[Install]
#WantedBy=default.target
