[Unit]
# Version 1.0.2
Description=kissattach@%I
After=kissport@%i.service
PartOf=tnc@%i.target

[Service]
Type=oneshot
#Environment="DIR=%h/.config/tnc/args.%i"
ExecStart=sudo /usr/bin/systemctl start kissattach@%i.service
ExecStop=sudo /usr/bin/systemctl stop kissattach@%i.service
RemainAfterExit=yes

#[Install]
#WantedBy=default.target
