[Unit]
# Version 1.0.0
Description=rigctld virtual serial port %I
Wants=rigctld@%i.service
After=rigctld@%i.service

[Service]
Type=simple

ExecStart=/usr/bin/bash -c 'source %I; \
/usr/bin/socat pty,link=$VIRTUAL_COM_PORT,waitslave,b$VIRTUAL_COM_SPEED \
tcp:localhost:$RIGCTLD_PORT,retry 2>&1 | \
/usr/bin/stdbuf -oL /usr/bin/ts "%%Y/%%m/%%d %%H:%%M:%%S %p" | \
/usr/bin/socat - udp-sendto:127.255.255.255:$SOCAT_PORT,broadcast'

ExecStartPost=-/usr/bin/bash -c 'source %I; \
echo "started." | \
/usr/bin/stdbuf -oL /usr/bin/ts "%%Y/%%m/%%d %%H:%%M:%%S %p" | \
/usr/bin/socat - udp-sendto:127.255.255.255:$SOCAT_PORT,broadcast'

ExecStopPost=-/usr/bin/bash -c 'source %I; \
echo "stopped." | \
/usr/bin/stdbuf -oL /usr/bin/ts "%%Y/%%m/%%d %%H:%%M:%%S %p" | \
/usr/bin/socat - udp-sendto:127.255.255.255:$SOCAT_PORT,broadcast'

#[Install]
#WantedBy=default.target
