[Unit]
# Version 1.0.3
Description=kissattach@%I

[Service]
Type=forking

ExecStart=/bin/bash -c 'source %I; \
DEV=$(/usr/bin/realpath /tmp/kisstnc$ID); \
[[ -n $DEV ]] && \
(/usr/sbin/kissattach $DEV $AX25_PORT | \
/usr/bin/stdbuf -oL ts "%%Y/%%m/%%d %%H:%%M:%%S %p" | \
/usr/bin/socat - udp-sendto:127.255.255.255:$SOCAT_PORT,broadcast) || exit 1'

# Set KISS parameters
ExecStartPost=-/bin/bash -c 'source %I; sudo /usr/sbin/kissparms $KISSPARMS_ARGS'

# Shut down ax25 network interface if necessary
ExecStopPost=-/bin/bash -c 'source %I; \
CALL=$(/usr/bin/grep -v "^#" /etc/ax25/axports | /usr/bin/grep "^$AX25_PORT" | \
/usr/bin/awk \'{ print $2 }\'); \
AXINT=$(/usr/sbin/ifconfig -a | /usr/bin/grep -B3 "ax25 $CALL" | \
/usr/bin/grep "^ax" | /usr/bin/cut -d: -f 1); \
test -n $AXINT && /usr/sbin/ifconfig $AXINT down'

ExecStopPost=-/usr/bin/bash -c 'source %I; \
echo 'stopped.' | \
/usr/bin/stdbuf -oL /usr/bin/ts "%%Y/%%m/%%d %%H:%%M:%%S %p" | \
/usr/bin/socat - udp-sendto:127.255.255.255:$SOCAT_PORT,broadcast'

#[Install]
#WantedBy=multi-user.target
