[Unit]
# Version 1.0.1
Description=kissattach to /tmp/kisstnc%i

[Service]
Type=forking
ExecStart=/bin/bash -c 'DEV=$(/usr/bin/realpath /tmp/kisstnc%i); \
test -n $DEV && \
(/usr/sbin/kissattach $DEV %i | \
/usr/bin/stdbuf -oL ts "%%Y/%%m/%%d %%H:%%M:%%S kissattach@%i" | \
/usr/bin/socat - udp-sendto:127.255.255.255:3333,broadcast) || exit 1'
# Set some reasonable defaults for kiss parameters
ExecStartPost=-/bin/bash -c 'sudo /usr/sbin/kissparms -p %i -c 1 -t 200 -l 50 -s 64 -r 20 -f n'

ExecStopPost=-/bin/bash -c 'CALL=$(/usr/bin/grep -v "^#" /etc/ax25/axports | grep "^%i" | /usr/bin/awk \'{ print $2 }\'); \
AXINT=$(/usr/sbin/ifconfig -a | /usr/bin/grep -B3 "ax25 $CALL" | /usr/bin/grep "^ax" | /usr/bin/cut -d: -f 1); \
test -n $AXINT && /usr/sbin/ifconfig $AXINT down'
ExecStopPost=-/usr/bin/bash -c "echo 'stopped.' | \
/usr/bin/stdbuf -oL /usr/bin/ts '%%Y/%%m/%%d %%H:%%M:%%S kissattach@%i' | \
/usr/bin/socat - udp-sendto:127.255.255.255:3333,broadcast"

#[Install]
#WantedBy=multi-user.target
